---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123+Main+Street%2C+%2C+Springfield%2C+MA+3019&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"123\",\n               \"short_name\"
        : \"123\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Main St\",\n               \"short_name\"
        : \"Main St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Forest Park\",\n               \"short_name\"
        : \"Forest Park\",\n               \"types\" : [ \"neighborhood\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Springfield\",\n
        \              \"short_name\" : \"Springfield\",\n               \"types\"
        : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Hampden\",\n               \"short_name\" : \"Hampden\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Massachusetts\",\n               \"short_name\"
        : \"MA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"01108\",\n               \"short_name\" : \"01108\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"123 Main St, Springfield, MA 01108, USA\",\n         \"geometry\" : {\n
        \           \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 42.08839380,\n                  \"lng\" : -72.57849849999999\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 42.08838880,\n
        \                 \"lng\" : -72.57852029999999\n               }\n            },\n
        \           \"location\" : {\n               \"lat\" : 42.08838880,\n               \"lng\"
        : -72.57849849999999\n            },\n            \"location_type\" : \"RANGE_INTERPOLATED\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 42.08974028029149,\n                  \"lng\" : -72.57716041970848\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 42.08704231970849,\n
        \                 \"lng\" : -72.57985838029150\n               }\n            }\n
        \        },\n         \"partial_match\" : true,\n         \"types\" : [ \"street_address\"
        ]\n      },\n      {\n         \"address_components\" : [\n            {\n
        \              \"long_name\" : \"123\",\n               \"short_name\" : \"123\",\n
        \              \"types\" : [ \"street_number\" ]\n            },\n            {\n
        \              \"long_name\" : \"Main St\",\n               \"short_name\"
        : \"Main St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \          [...]
