---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10012&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"10012\",\n               \"short_name\"
        : \"10012\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Prince Street\",\n               \"short_name\"
        : \"Prince Street\",\n               \"types\" : [ \"neighborhood\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Manhattan\",\n
        \              \"short_name\" : \"Manhattan\",\n               \"types\" :
        [ \"sublocality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"PRINCE\",\n               \"short_name\" : \"PRINCE\",\n               \"types\"
        : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"New York\",\n               \"short_name\" : \"New York\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"New York\",\n               \"short_name\"
        : \"NY\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"PRINCE, NY 10012, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.73221490,\n
        \                 \"lng\" : -73.9917940\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.7195190,\n                  \"lng\" :
        -74.0045750\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 40.72506320,\n               \"lng\" : -73.99769460\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.73221490,\n
        \                 \"lng\" : -73.9917940\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.7195190,\n                  \"lng\" :
        -74.0045750\n               }\n            }\n         },\n         \"types\"
        : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Sun, 08 Apr 2012 15:50:39 GMT
- request:
    method: get
    uri: http://www.radioshack.com/product/inStoreAvail.jsp?productId=12268262&zip=10012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\r\n\r\n\r\n\n\n\n\n\n\n\n<!--Preview
        TimeZone = 'null' --><!--Preview TimeZone = 'America/New_York' --><!-- Checking
        storemanPD --><!-- Checking productPreviewAllowed -->\n\n\n\n \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<style
        type=\"text/css\">\n\t#stsbubwrapper {\n\t\tposition:relative;\n\t\twidth:98px;\n\t\theight:113px;\n\t}\n\t#stsbubLyr1{\n\t\tposition:absolute;\n\t\tvisibility:visible;\n\t\twidth:0px;\n\t\theight:0px;\n\t\tleft:0;\n\t\ttop:0;\n\t\tpadding:0px;\n\t}\n</style>\n\n<script>\n\tfunction
        showMsg(cnt) {\n\t\tvar x = cnt;\n\t\teval(\"document.getElementById('stsbubLyr0_\"
        + x + \" ').style.visibility = \\\"\" + 'visible' + \"\\\"\");\n\t\teval(\"document.getElementById('stsbubLyr0_\"
        + x + \" ').style.display = \\\"\" + 'block' + \"\\\"\");\n\t}\n\n\tfunction
        hideMsg(cnt) {\n\t\tvar x = cnt;\n\t\teval(\"document.getElementById('stsbubLyr0_\"
        + x + \" ').style.visibility = \\\"\" + 'hidden' + \"\\\"\");\n\t\teval(\"document.getEl[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=781+BROADWAY%2C+%2C+NEW+YORK%2C+NY+10003&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=336+FIRST+AVE%2C+%2C+NEW+YORK%2C+NY+10009&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=49+7TH+AVE%2C+%2C+NEW+YORK%2C+NY+10011&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=WASH+COURT+CONDOMINIUM+%232%2C+%2C+NEW+YORK%2C+NY+10011&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=114+FULTON+ST%2C+%2C+NEW+YORK%2C+NY+10038&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n[...]
[...]
