---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10012&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"10012\",\n               \"short_name\"
        : \"10012\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Prince Street\",\n               \"short_name\"
        : \"Prince Street\",\n               \"types\" : [ \"neighborhood\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Manhattan\",\n
        \              \"short_name\" : \"Manhattan\",\n               \"types\" :
        [ \"sublocality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"PRINCE\",\n               \"short_name\" : \"PRINCE\",\n               \"types\"
        : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"New York\",\n               \"short_name\" : \"New York\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"New York\",\n               \"short_name\"
        : \"NY\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"PRINCE, NY 10012, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.73221490,\n
        \                 \"lng\" : -73.9917940\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.7195190,\n                  \"lng\" :
        -74.0045750\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 40.72506320,\n               \"lng\" : -73.99769460\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.73221490,\n
        \                 \"lng\" : -73.9917940\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.7195190,\n                  \"lng\" :
        -74.0045750\n               }\n            }\n         },\n         \"types\"
        : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Sun, 08 Apr 2012 17:31:04 GMT
recorded_with: VCR 2.0.1
